.loginbox{
    background: #ffffef;
    font-size: 15px;
    border-radius: 7px;
    color: #008888;
    box-shadow: 0 15px 10px rgba(0,100,100,0.8);
    padding: 10px;
}
.loginform{
    text-align: center;
    background: #ffffe0; /* Цвет фона */ 
    padding: 10px;
}
.loginform .btn{
    font-size: 10px;
}

.panelgrid{
    padding: 20px;
    margin: auto;
}
.selectedrow{
    background: #ccffcc;
    font-weight: bold;
}
.commandField{
    background: #eeeee0;
    color: #005500;
    font-size: 10px;
    width: 80%
}
.globalsearchField{
    background: #eeeee0;
    color: #dd0000;
    font-size: 10px;
    width: 40%
}
.editField{
    background: #eeeee0;
    color: #dd0000;
    font-size: 10px;
    width: 90%
}
