<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="S-WEBPU" transaction-type="JTA">
    <jta-data-source>java:app/al1der</jta-data-source>
    <class>pns.kiam.entities.telescopes.Telescope</class>
    <class>pns.kiam.entities.telescopes.TelescopeHorizontMask</class>
    <class>pns.kiam.entities.users.User</class>
    <class>pns.kiam.entities.users.UserType</class>
    <class>pns.kiam.entities.observatories.Observatory</class>
    <class>pns.kiam.entities.satelites.Satelite</class>
    <class>pns.kiam.entities.satelites.SateliteMeasurement</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="create-or-extend-tables"/>
      <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
    </properties>
  </persistence-unit>
</persistence>
